[Unit]
Description=Update GitHub Deployment branch
After=network.target

[Service]
Type=oneshot
ExecStart=/home/casey/SO_servicioLinux/update.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

