[Unit]
Description=Update GitHub Deployment branch
After=network.target
[Service]
Type=oneshot
ExecStart=/bin/bash /home/casey/SO_servicioLinux/update.sh
User=casey
RemainAfterExit=true
[Install]
WantedBy=multi-user.target

